@import url(https://db.onlinewebfonts.com/c/2d57f676e3d6955778fb8acac0176b9a?family=Eina01-Bold);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Eina01-Bold";            padding: 0;
    background-color: #6E6E6E;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}
nav {
    /* background-color: #444; */
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

#homeee:hover {
    background-color: #666 !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease !important;
    color: white !important;
    
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #666;
}
.container {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #6E6E6E;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); */

}
.div1{
    /* width: 40%; */
    padding-top: 20px;    
    text-align: center;
}
#firstv{
    border-top-left-radius: 20px;
    
}
.div2>video{
    
    padding-top: 5px !important;
    padding-left: 50px;
    
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.font-familyy{
    font-family: gilroy;
}

#aboutus{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #6E6E6E;
    color: white;
    display: flex;
    width: 60%;
    /* justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
    /* text-align: center; */
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#aboutUs{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #6E6E6E;
    color: white;
    display: flex;
    width: 30%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#centerr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gulkhan{
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
#list{
    list-style: none;
}

#head{
    margin-bottom: 30px;
}